<!DOCTYPE html>
<html lang="en">
  <%- include ("includes/head.ejs") %>

  <body id="likeForm">
    <%- include ("includes/header.ejs") %> <% if(userData){ %>
      <%- include ("includes/delete.ejs") %>

    <main>
      <div class="person">
        <figure>
          <img src="/images/swipe.jpg" alt="" />
        </figure>
        <div class="text">
          <h2 class="firstname"><%= userData.name %></h2>
          <h3 class="age"><%= userData.age %></h3>
          <h3 class="city"><%= userData.city %></h3>
          <p>
            <%= userData.description %>
          </p>
        </div>
      </div>

      <div class="reviewButtons">
        <form class="addData" action="/like" method="post">
          <input
            type="text"
            class="userId"
            name="id"
            value="<%= userData._id %>"
          />
          <input type="submit" name="review" value="like" id="like" />
          <label for="like" class="like">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.5 11.4">
              <circle cx="5.6" cy="5.7" r="4" fill="#fff" data-name="Ellipse 6"/>
              <path d="M5.6 7.9S1.8 6.2 3.4 4.7s2.2.5 2.2.5.5-2.2 2.2-.7-2.2 3.4-2.2 3.4z" fill="#e65b6b" data-name="Path 19"/>
            </svg>
          </label>
        </form>

        <form class="addData" action="/like" method="post">
          <input
            type="text"
            class="userId"
            name="id"
            value="<%= userData._id %>"
          />
          <input type="submit" name="review" value="megalike" id="megalike" />
          <label for="megalike" class="megalike">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.5 11.4">
  <defs>
    <style>
      .cls-1{fill:#fff}
    </style>
  </defs>
  <circle class="cls-1" cx="6.1" cy="5.8" r="4.2" id="Ellipse_5" data-name="Ellipse 5"/>
  <circle cx="6.1" cy="5.8" r="4.2" fill="#f8971d" id="Ellipse_9" data-name="Ellipse 9"/>
  <path class="cls-1" d="M5.2 5.6s-2.6 1-2.6-.5S4 4.3 4 4.3s-.8-1.3.8-1.4.5 2.7.5 2.7z" id="Path_13" data-name="Path 13"/>
  <path class="cls-1" d="M6.9 5.5s-1-2.7.5-2.6.8 1.3.8 1.3 1.3-.8 1.4.7-2.7.6-2.7.6z" id="Path_14" data-name="Path 14"/>
  <path class="cls-1" d="M3 6.9c0-1.5 1.4 0 3.1 0s3.1-1.4 3.1 0a2.9 2.9 0 01-3.1 2.6A2.9 2.9 0 013 7z" id="Path_15" data-name="Path 15"/>
</svg>
              <path
                class="cls-1"
                d="M19 23S4 29 5 20s7-4 7-4-4-8 4-8 3 15 3 15z"
                id="Path_13"
                data-name="Path 13"
              />
              <path
                class="cls-1"
                d="M29 22S23 7 31 8s5 7 5 7 7-4 8 4-15 3-15 3z"
                id="Path_14"
                data-name="Path 14"
              />
              <path
                class="cls-1"
                d="M7 30c0-8 8 0 17 0s18-8 18 0-8 15-18 15S7 38 7 30z"
                id="Path_15"
                data-name="Path 15"
              />
            </svg>
          </label>
        </form>

        <form class="addData" action="/like" method="post">
          <input
            type="text"
            class="userId"
            name="id"
            value="<%= userData._id %>"
          />
          <input type="submit" name="review" value="dislike" id="dislike" />
          <label for="dislike" class="dislike">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.5 11.4">
              <circle cx="5.9" cy="5.7" r="4.1" fill="#fff" data-name="Ellipse 7"/>
              <path d="M3.6 7.3l3.6-4.8 2 1.6-4.9 4.5z" fill="#600c0e" data-name="Path 21"/>
              <path d="M2.7 4.9L4 3l4.8 4L8 8.3z" fill="#e37f8b" data-name="Path 20"/>
            </svg>
          </label>
        </form>
      </div>
    </main>
    <% } else{ %>

    <div class="noUsers">
      <h1>
        You liked a lot of people... 
        You liked the whole database, come back tomorow for more!
      </h1>
      <a href="likes">Checkout your likes here</a>
    </div>

    <% } %>
  </body>
</html>
