<!DOCTYPE html>
<html lang="en">
  <%- include ("includes/head.ejs") %>

  <body id="liked">
    
    <%- include ("includes/header.ejs") %> 
    <main>
    <% for (var index = 0; index < users.length; index++) { %>
      
    <div class="person">
      <figure>
        <img src="/images/swipe.jpg" alt="" />
      </figure>
      <div class="text">
        <h2 class="firstname"><%= users[index].firstname %></h2>
        <h3 class="age"><%= users[index].age %></h3>
        <h3 class="city"><%= users[index].city %></h3>
        <p>
          <%= users[index].description %>
        </p>
      </div>
    </div>
    <% } %>
  </main>
  </body>
</html>
