<!DOCTYPE html>
<html lang="en">
  <%- include ("includes/head.ejs") %>

  <body>
    <%- include ("includes/header.ejs") %> <% for (var index = 0; index <
    data.length; index++) { %>
    <div class="person">
      <figure>
        <img src="/images/swipe.jpg" alt="" />
      </figure>
      <div class="text">
        <h2 class="firstname"><%= data[index].name %></h2>
        <h3 class="age"><%= data[index].age %></h3>
        <h3 class="city"><%= data[index].city %></h3>
        <p>
          <%= data[index].description %>
        </p>
      </div>
    </div>

    <form action="/liked" method="post">
      <label for="dislike"></label>
      <input type="submit" name="review" value="dislike" />
      <label for="dislike"></label>
      <input type="submit" name="review" value="megalike" />
      <label for="dislike"></label>
      <input type="submit" name="review" value="like" />
    </form>
    <% } %>
  </body>
</html>
