<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head.ejs") %>

  <body>
    <div class="person">
      <figure>
        <img src="images/swipe.jpg" alt="" />
      </figure>
      <div class="text">
        <% for (var index = 0; index < data.length; index++) { %>

        <h2 class="name"><%= data[index].name %></h2>
        <h3 class="age"><%= data[index].age %></h3>
        <h3 class="city"><%= data[index].city %></h3>
        <p>
          <%= data[index].info %>
        </p>
        <% } %>
      </div>
    </div>
    <form>
      <button class="dislike">Dislike</button>
      <button class="mega-like">Megalike</button>
      <button class="like">Like</button>
    </form>
  </body>
</html>
